@model CategoryModel
@using Faprika.Core.Domain.Seo
@inject SeoSettings seoSettings
@{
    //title
    Html.AddTitleParts(!string.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    //meta
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);

    if (seoSettings.CanonicalUrlsEnabled)
    {
        var categoryUrl = Url.RouteUrl("Category", new { SeName = Model.SeName }, this.Url.ActionContext.HttpContext.Request.Scheme);
        Html.AddCanonicalUrlParts(categoryUrl);
    }

    //register CSS and JS
    Html.AddCssFileParts(ResourceLocation.Head, "~/Themes/Default/Content/css/pages/catalog.min.css", "~/Themes/Default/Content/css/pages/catalog.css");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/lib/sticky-sidebar/sticky-sidebar.min.js", "~/lib/sticky-sidebar/sticky-sidebar.js");
}

<div class="page catalog-page sidebar-page">
    <div class="autohide-menu">
        <div class="category-filter">
            <span>
                @T("Filtering.SpecificationFilter.Title")
                @if (Model.PagingFilteringContext.SpecificationFilter.AlreadyFilteredItems.Count > 0)
                {
                    <label class="count">@(string.Format(T("Filtering.SpecificationFilter.Count").Text, Model.PagingFilteringContext.SpecificationFilter.AlreadyFilteredItems.Count))</label>
                }
            </span>
        </div>
        <div class="category-sort">
            @await Html.PartialAsync("_CatalogSort", Model.PagingFilteringContext)
        </div>
    </div>
    <div class="page-container">
        <div class="sidebar sidebar-fixed">
            <div class="sidebar__inner">
                <div class="sidebar-header">
                    <span>@T("Filtering.SpecificationFilter.Title")</span>
                    <span class="sidebar-close"></span>
                </div>
                <div class="sidebar-content">
                    @if (Model.PagingFilteringContext.SpecificationFilter.Enabled)
                    {
                        @await Html.PartialAsync("_FilterFilteredSpecsBox", Model.PagingFilteringContext.SpecificationFilter)
                    }
                    @await Component.InvokeAsync("CategoryNavigation", new { currentCategoryId = Model.Id })
                    @if (Model.PagingFilteringContext.SpecificationFilter.Enabled)
                    {
                        @await Html.PartialAsync("_FilterNotFilteredSpecsBox", Model.PagingFilteringContext.SpecificationFilter)
                    }
                    @if (Model.PagingFilteringContext.PriceRangeFilter.Enabled)
                    {
                        @await Html.PartialAsync("_FilterPriceBox", Model.PagingFilteringContext.PriceRangeFilter)
                    }
                    @if (Model.Products.Count > 0)
                    {
                        @await Html.PartialAsync("_CatalogHideOutOfStock", Model.PagingFilteringContext)
                    }
                </div>
                @if (Model.PagingFilteringContext.SpecificationFilter.Enabled)
                {
                    <div class="sidebar-footer">
                        <button type="button" onclick="CatalogFilter.applyFilter();return false;">Filtrele</button>
                    </div>
                }
            </div>
        </div>
        <div class="product-grid">
            <div class="catalog-header">
                <div class="category-info">
                    <h1 class="title">@Model.Name</h1>
                    @*breadcrumb*@
                    <div class="breadcrumb">
                        <ul>
                            <li>
                                <a href="@Url.RouteUrl("HomePage")" title="@T("Breadcrumb.Top")">@T("Breadcrumb.Top")</a>
                                <span class="delimiter">></span>
                            </li>
                            @foreach (var cat in Model.CategoryBreadcrumb)
                            {
                                var isLastCategory = cat.Id == Model.Id;
                                <li>
                                    @if (isLastCategory)
                                    {
                                        <span class="current-item">@cat.Name</span>
                                    }
                                    else
                                    {
                                        <a href="@Url.RouteUrl("Category", new { SeName = cat.SeName })" title="@cat.Name">@cat.Name</a>
                                        <span class="delimiter">></span>
                                    }
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="category-options">
                    @if (Model.Products.Count > 0)
                    {
                        @await Html.PartialAsync("_CatalogHideOutOfStock", Model.PagingFilteringContext)
                        <div class="options-bottom">
                            @await Html.PartialAsync("_CatalogSort", Model.PagingFilteringContext)
                        </div>
                    }
                </div>
            </div>
            @if (Model.HasShowcasesApplied)
            {
                @await Component.InvokeAsync("CategoryShowcases", new { categoryId = Model.Id })
            }
     
            @if (Model.Products.Count > 0)
            {
                @if (Model.PictureModel.FullSizeImageUrl.HasValue())
                {
                    <div class="catalog-picture">
                        <img alt="@Model.Name" data-src="@Model.PictureModel.FullSizeImageUrl" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" />
                    </div>
                }

                @await Html.PartialAsync("_CatalogFeaturedProducts", Model.FeaturedProducts)

                <div class="item-grid grid-3">
                    @foreach (var product in Model.Products)
                    {
                        <div class="product-item">
                            @await Html.PartialAsync("_ProductBox", product)
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="no-result">
                    <div class="no-result-content">
                        <h1>@T("Search.NoResults.Title")</h1>
                    </div>
                </div>
            }

    </div>    
</div>
    <div id="spinner-ajax" class="no-result" style="display:none">
        <div class="no-result-content">
            <img src="~/Themes/Default/Content/img/loading.gif" alt="Ürünler Yükleniyor" />
        </div>
    </div>
</div>

<script asp-location="Footer">
    //Category Lazy Load Funtion
    $(document).ready(function () {
        $('.catalog-picture img').lazy({
            effect: "fadeIn",
            effectTime: 500,
            threshold: 0,
            afterLoad: function (element) {
                //add load complete classes
                element.addClass("lazy-complete");
            }
        });
    });


 //Category Fixed Sidebar
    $(document).ready(function () {
        if (ResponsiveToolkit.is('>md')) {
            var FixedSidebar = new StickySidebar('.sidebar-fixed', {
                topSpacing: 20,
                bottomSpacing: 30,
                containerSelector: '.page-container',
                innerWrapperSelector: '.sidebar__inner'
            });
        }
    });


    //Mobile Filter Open/Close Funtion
    (function ($) {
        var trigger = $('.category-filter span');
        var filter = $('.sidebar');
        var close = $('.sidebar-close');

        function openFilter() {
            filter.show();
            $('body').css('overflow', 'hidden');
        }

        function closeFilter() {
            filter.hide();
            $('body').css('overflow', 'scroll');
        }

        $(document).ready(function () {
            trigger.on('click', openFilter);
            close.on('click', closeFilter);
        });
    })(jQuery);

    //Mobile Filter FilterBox Collapse Function
    (function ($) {
        var filterItem = $('.filter-box .title');

        function collapseHandler() {
            var $this = $(this);
            var isActive = $this.parent('.filter-box').hasClass('active');
            $(".filter-box").removeClass("active");
            if (!isActive) {
                $this.parent('.filter-box').addClass('active');
            }
        }
        $(document).ready(function () {
            filterItem.on('click', collapseHandler);
        });
    })(jQuery);
</script>

<input id="hdnTotalPages" type="hidden" value="@(Model.PagingFilteringContext.TotalPages)" />
<input id="hdnPageIndex" type="hidden" value="@(Model.PagingFilteringContext.PageIndex + 2)" />
<input id="hdnRequestPageIndex" type="hidden" value="@(Model.PagingFilteringContext.PageIndex + 1)" />
<input id="hdnPageSize" type="hidden" value="@(Model.PagingFilteringContext.PageSize)" />

<script type="text/javascript">
    $(function () {
        $.fn.isInViewport = function () {
            var elementTop = $(this).offset().top;
            var elementBottom = elementTop + $(this).outerHeight();
            var viewportTop = $(window).scrollTop();
            var viewportBottom = viewportTop + $(window).height();
            return elementBottom > viewportTop && elementTop < viewportBottom;
        };

        var pageUrl = window.location.href;
        var categoryId = @(Model.Id);
        var passFprk = 0;
        $(window).on('resize scroll', function () {
            var totalPages = parseInt($('#hdnTotalPages').val());
            var pageIndex = parseInt($('#hdnPageIndex').val());
            var requestPageIndex = parseInt($('#hdnRequestPageIndex').val());
            var pageSize = parseInt($('#hdnPageSize').val());
            var $el = $(".catalog-page .product-grid .item-grid:last-child .product-item:last-child");

            if ($el.isInViewport() && passFprk == 0) {
                if (pageIndex <= totalPages && pageIndex > requestPageIndex) {
                    $('#spinner-ajax').show();
                    $('#hdnRequestPageIndex').val($('#hdnPageIndex').val());
                    $.get('/Catalog/AjaxCategory/'+window.location.search, { categoryId: categoryId, pageNumber: requestPageIndex + 1, pageSize: pageSize }, function (data) {

                        if (data.complete != true) {
                            $('#hdnPageIndex').val(pageIndex + 1);
                            var $wrapper = $('<div>').addClass('item-grid grid-3').html(data);
                            $('#spinner-ajax').hide();
                            $('.catalog-page .product-grid').append($wrapper);
                            $(".product-item .product-image", $wrapper).lazy();
                        }
                    });
                }
            }
            passFprk = 0;
        });

        $(window).on('load', function () {

            var lsPageUrl = sessionStorage.getItem('pageUrl');
            var lsCategoryId = sessionStorage.getItem('categoryId');
            var ajaxResult = sessionStorage.getItem('historyElements');

            if (pageUrl == lsPageUrl && categoryId == lsCategoryId && parseInt(sessionStorage.getItem('requestPageIndex')) > 1) {
                $('#hdnTotalPages').val(sessionStorage.getItem('totalPages'));
                $('#hdnPageIndex').val(sessionStorage.getItem('pageIndex'));
                $('#hdnRequestPageIndex').val(sessionStorage.getItem('requestPageIndex'));
                
                var pageIndex = parseInt($('#hdnPageIndex').val());
                var requestPageIndex = parseInt($('#hdnRequestPageIndex').val());
                var pageSize = parseInt($('#hdnPageSize').val());
                var totalPages = parseInt($('#hdnTotalPages').val());

                if ('scrollRestoration' in history) {
                    history.scrollRestoration = 'manual';
                }

                if (ajaxResult != null && ajaxResult != 'undefined') { 
                    passFprk = 1;
                    var $wrapper = ajaxResult;
                    $('#spinner-ajax').hide();
                    $('.catalog-page .product-grid').html($wrapper);
                    $(".product-item .product-image").lazy();                   
                    
                    $(window).scrollTop(parseInt(sessionStorage.getItem('scrollPosition')));

                    if(requestPageIndex == pageIndex && requestPageIndex > 1 && requestPageIndex < totalPages){
                        $('#hdnPageIndex').val(pageIndex - 1);
                        $('#hdnRequestPageIndex').val($('#hdnPageIndex').val());
                    }   
                }
            }
        });

        $(window).on('unload', function () {
            sessionStorage.setItem('historyElements', document.querySelector('.catalog-page .product-grid').innerHTML);
            sessionStorage.setItem('pageUrl', pageUrl);
            sessionStorage.setItem('categoryId', categoryId);
            sessionStorage.setItem('scrollPosition', $(window).scrollTop());
            sessionStorage.setItem('totalPages', $('#hdnTotalPages').val());
            sessionStorage.setItem('pageIndex', $('#hdnPageIndex').val());
            sessionStorage.setItem('requestPageIndex', $('#hdnRequestPageIndex').val());
        });
    });
</script>