@model PasswordRecoveryModel
@inject IEventPublisher eventPublisher
@{
    Layout = "_Root.Head";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    Html.AddCssFileParts(ResourceLocation.Head, "~/Themes/Sidney/Content/css/pages/auth.min.css", "~/Themes/Sidney/Content/css/pages/auth.css");

    //event
    eventPublisher.Publish(new PageRenderingEvent(this.Html, false));
}

<div class="page auth-page">
    <div class="page-container">
        <div class="auth-form">
            @await Component.InvokeAsync("Logo")

            <form asp-route="PasswordRecovery" method="post">
                @if (!String.IsNullOrEmpty(Model.Result))
                {
                    <div class="result">
                        @Model.Result
                    </div>
                }
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                <div class="inputs password-recovery">
                    <div class="input-validate">
                        <input asp-for="EmailOrPhone" class="form-control password-recovery" placeholder="@T("Account.PasswordRecovery.EmailOrPhone")" />
                        <span asp-validation-for="EmailOrPhone"></span>
                    </div>
                </div>
                @if (Model.DisplayCaptcha)
                {
                    <div class="captcha-wrapper">
                        <faprika-captcha />
                    </div>
                }
                <div class="buttons">
                    <button type="submit" class="password-recovery-button one-submit-button" name="send-email-or-phone">
                        <span>@T("Account.PasswordRecovery.RecoverButton")</span>
                    </button>
                </div>


                <div class="divider">
                    <span>@T("Common.Or")</span>
                </div>

                <div class="return-register">
                    <span>
                        @T("Account.Register.Text")
                        <a asp-route="Register">
                            <span>@T("Account.Register")</span>
                        </a>
                    </span>
                </div>
            </form>
        </div>
        <div class="bottom-wrap">
            <span>
                <a asp-route="Login">
                    <span>@T("Account.PasswordRecovery.ReturnLogin")</span>
                </a>
            </span>
        </div>
    </div>
</div>
