@model PasswordRecoveryConfirmModel
@inject IEventPublisher eventPublisher
@{
    Layout = "_Root.Head";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    Html.AddCssFileParts(ResourceLocation.Head, "~/Themes/Sidney/Content/css/pages/auth.min.css", "~/Themes/Sidney/Content/css/pages/auth.css");

    //event
    eventPublisher.Publish(new PageRenderingEvent(this.Html, false));
}

<div class="page auth-page">
    <div class="page-container">
        <div class="auth-form">
            @await Component.InvokeAsync("Logo")
            @if (!String.IsNullOrEmpty(Model.Result))
            {
                <div class="result">
                    @Model.Result
                </div>
            }
            @if (!Model.DisablePasswordChanging)
            {
                <form asp-route="PasswordRecoveryConfirm" method="post" autocomplete="off">
                    <input asp-for="Token" type="hidden" />
                    <div asp-validation-summary="ModelOnly" class="message-error"></div>
                    <div class="inputs">
                        <input asp-for="NewPassword" class="form-control" placeholder="@T("Account.PasswordRecovery.NewPassword")" />
                        <span asp-validation-for="NewPassword"></span>
                    </div>
                    <div class="inputs">
                        <input asp-for="ConfirmNewPassword" class="form-control" placeholder="@T("Account.PasswordRecovery.ConfirmNewPassword")" />
                        <span asp-validation-for="ConfirmNewPassword"></span>
                    </div>
                    <div class="buttons">
                        <button type="submit" class="password-recovery-button one-submit-button" name="set-password">
                            <span>@T("Account.PasswordRecovery.ChangePasswordButton")</span>
                        </button>
                    </div>
                </form>
            }
            else
            {
                <div class="buttons">
                    <button type="button" class="password-recovery-button" onclick="setLocation('@Url.RouteUrl("HomePage")')">
                        @T("ShoppingCart.ContinueShopping")
                    </button>
                </div>
            }
        </div>
    </div>
</div>
