@model LogoModel
<a href="@Url.RouteUrl("HomePage")">
    <img title="@Model.StoreName" alt="@Model.StoreName" src="@Url.Content("~/" + Model.LogoName)" style="max-width: @(Model.LogoMaxWidth)px; max-height: @(Model.LogoMaxHeight)px;">
</a>